apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: db
data:
  postgresql.conf: |
    # Basic PostgreSQL configuration
    shared_buffers = 256MB
    effective_db_size = 1GB
    maintenance_work_mem = 64MB
    checkpoint_completion_target = 0.9
    wal_buffers = 16MB
    default_statistics_target = 100
    random_page_cost = 1.1
    effective_io_concurrency = 200
    work_mem = 4MB
    min_wal_size = 2GB
    max_wal_size = 8GB
