apiVersion: v1
kind: Namespace
metadata:
  name: backend
  labels:
    name: backend
    pod-security.kubernetes.io/enforce: restricted
    pod-security.kubernetes.io/audit: restricted
    pod-security.kubernetes.io/warn: restricted